.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
.hidden{
    overflow: hidden;
}
.common-inner{
    padding: 0 35px;

    @include mobile{
        padding: 0 30px;
    }
    &.first{
        overflow: hidden;
    }
}