@font-face {
    font-family: 'NanumSquare Neo';
    src: url('../fonts/NanumSquareNeo-bRg.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Paganini';
    src: url('../fonts/Paganini-Light.woff2') format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Regular.woff2') format('woff2');
}